[Desktop Entry]
Type=Application
Name=Gnome Format
Comment=Format external storage devices
Exec=gnome-format
Icon=media-flash
Categories=GNOME;System;
